body {
	font-family: Arial, sans-serif;
}

#generate-recipe {
	padding: 10px 20px;
	font-size: 20px;
	margin: 20px 0;
	background-color: #f8a488;
	border: none;
	cursor: pointer;
}

#recipe-display {
	display: none;
	margin-top: 30px;
}

#recipe-link {
	display: block;
	margin-top: 10px;
	color: blue;
	text-decoration: none;
}